body {
    background-color: black;
    color: white;
}
h1{
    font-size: 20px;
}

p{
    font-size: 12px;
    color: green;
}

div {
    border-width: 2px;
    border-style: dotted;
}

.Teksti{
    width: 100px;
    height: 100px;
}

ol {
    list-style: lower-alpha;
}

ul {
    list-style: square;
}